body {
    padding-top: 150px;
    font-family: 'Raleway',sans-serif;
}


/*----------------Navbar----------------*/
.navbar-default {
    background-color: /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#babcbe+0,8c8e90+36,383b3c+100 */
background: #babcbe; /* Old browsers */
background: -moz-linear-gradient(top,  #babcbe 0%, #8c8e90 36%, #383b3c 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #babcbe 0%,#8c8e90 36%,#383b3c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #babcbe 0%,#8c8e90 36%,#383b3c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#babcbe', endColorstr='#383b3c',GradientType=0 ); /* IE6-9 */

;
    border-bottom: 1px solid #333;
    padding-top: 30px;
    margin-bottom: 10px;
}
 .navbar-default .navbar-nav>li>a {
   color: white;
}
.title {
    color: white;
    font-size: 2em;
    font-family: 'Yellowtail', sans-serif;
    margin-left: 40px;
}
.spanish {
    margin-left: 5px;
    
}
.flag {
    border-radius: 5px;
    width: 30px;
    height: 20px;
}
.flag:hover {
    opacity: .5;
}

/*---------------Home-------------------*/
.lead.home{
    margin-bottom: 80px;
}
/*----------------Bio-------------------*/

.img-rounded {
    border: 1px solid #453636;
    height: 160px;
    width: auto;
    margin-bottom: 10px;
}
.name {
}
.maddy-row,.violeta.row {
    margin-bottom: 30px;
    
}
/*.col-xs-12.bio-description {
    margin: 5px;
    box-sizing: border-box;
}*/


/*--------------Contact-----------------*/

.lead {
   width: 75%; 
   margin: 0 auto;
}

.page-head{
text-align: center;
}

.contact-paragraph {
text-align: center;
}

.separator {
    height: 2px;
    width: 150px;
    background-color: #aaa;
    margin: 0 auto 50px;
}
.contact-email {
    text-align: center;
    margin-bottom: 40px;
}

label {
    display: block;
    font-weight: 100;
}
.form-name,.form-email,.form-message,.form-button {
    border-radius: 10px;
    padding: 7px;
}

.form-message {
    height: 100px;
    width: 300px;
    position: relative;
}
.form-button {
    width: 100px
}

/*-----------------Footer-----------------*/

#footer {
    

}



.alert {
    display: none;
}

.bio-description {
    float: right;
}

.image-box {
    float: left;
}
